* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkblue;
    color: #fefefe;
    height: 60px;
}

.nav-list {
    display: flex;
    margin-right: 80px;
    column-gap: 20px
}

#home-btn {
    margin-left: 80px;
}

a {
    color: #fefefe;
    text-decoration: none;
}

.nav-btn {
    display: flex;
    column-gap: 20px;
    list-style: none;
}

ol {
    list-style-position: inside;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}

.unordered {
    flex-direction: column;
    list-style-position: inside;
    list-style: none;
}

.unordered li:before {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    background-size: 10px;
    background-image: url(./assets/favicon.ico);
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 6px;
}

.unordered2 {
    list-style-position: inside;
    list-style-type: circle;
}

div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    column-gap: 20px;
}